<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a routerLink="home">
            {{
              languageService.currentLanguageComputed() === "es"
                ? navbarText.home.es
                : navbarText.home.en
            }}
          </a>
        </li>
        <li>
          <a routerLink="who-we-are">
            {{
              languageService.currentLanguageComputed() === "es"
                ? navbarText.who.es
                : navbarText.who.en
            }}
          </a>
        </li>
        <li>
          <a routerLink="about-us">
            {{
              languageService.currentLanguageComputed() === "es"
                ? navbarText.about.es
                : navbarText.about.en
            }}
          </a>
        </li>
      </ul>
    </div>
    <a routerLink="home">
      <img
        src="../../../assets/images/logo-bg-removed.png"
        width="150"
        height="150"
        alt="ii"
        class="mt-4"
      />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="nav-titles">
        <a routerLink="home nav-titles">
          {{
            languageService.currentLanguageComputed() === "es"
              ? navbarText.home.es
              : navbarText.home.en
          }}
        </a>
      </li>
      <li>
        <a routerLink="who-we-are">
          {{
            languageService.currentLanguageComputed() === "es"
              ? navbarText.who.es
              : navbarText.who.en
          }}
        </a>
      </li>
      <li>
        <a routerLink="about-us">
          {{
            languageService.currentLanguageComputed() === "es"
              ? navbarText.about.es
              : navbarText.about.en
          }}
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details class="w-[160px]">
          <summary>
            {{
              languageService.currentLanguageComputed() === "es"
                ? navbarText.lang.es
                : navbarText.lang.en
            }}
          </summary>
          <ul>
            <li>
              <span (click)="setLanguage('es')">
                <img
                  src="../../../assets/images/icons8-spain-48-round.png"
                  alt="spanish"
                  width="50"
                  height="50"
                />Español</span
              >
            </li>
            <li>
              <span (click)="setLanguage('en')">
                <img
                  src="../../../assets/images/icons8-uk-48-round.png"
                  alt="english"
                  width="50"
                  height="50"
                />
                English</span
              >
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
