<app-contact-info />

<app-hero />

<app-enroll-steps />

<!-- class="w-[80%] grid grid-cols-[repeat(auto-fit,_16.66666%)] m-auto gap-5 mt-5 place-items-center border" -->

<section class="w-full flex flex-col items-center justify-center mt-[4.3rem]">
  <h2 class="text-primary secondary-title">
    {{
      languageService.currentLanguageComputed() === "es"
        ? "Descubre nuestros planes"
        : "Discover our plans"
    }}
  </h2>

  <div
    class="w-[80%] m-auto flex flex-wrap place-items-center gap-2 mt-5 cards-container"
  >
    @for (item of cardItems; track $index) {
    <div
      class="card flex flex-row justify-center justify-self-center mx-auto mt-3"
    >
      <app-insurance-card
        [title]="
          languageService.currentLanguageComputed() === 'es'
            ? item.title.es
            : item.title.en
        "
        [description]="
          languageService.currentLanguageComputed() === 'es'
            ? item.description.es
            : item.description.en
        "
        [image]="item.image"
      />
    </div>

    }
  </div>
</section>

<section class="w-full flex flex-col items-center mt-[4.3rem]">
  <h2 class="text-primary secondary-title">
    {{
      languageService.currentLanguageComputed() === "es"
        ? "Lo que dicen nuestros clientes"
        : "What our clients say about us"
    }}
  </h2>

  <div
    class="w-[80%] flex flex-wrap items-center justify-center mt-[2.3rem] gap-[1.2rem]"
  >
    @for (testimonial of testimonialText; track $index) {
    <app-testimonial-card
      [client]="testimonial.client"
      [date]="testimonial.date"
      [comment]="
        languageService.currentLanguageComputed() === 'es'
          ? testimonial.comment.es
          : testimonial.comment.en
      "
      [index]="$index"
    />
    }
  </div>
</section>
