@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.black-font {
    color: #010101
}

.yellow-font {
    color: #f6cc27;
}

.main-title-font-size {
    font-size: 3.5rem;
}

.subtitles-font-size {
    font-size: 1.5rem;
}

.nav-titles {
    font-size: 1.2rem;
    transition: .3s ease-in;

    &:hover {
        text-decoration: underline;
        transform: scale(1.1);
        opacity: .7;
    }
}